@{
    <div class="text-center">
        <h1 style="background-color:#800000;" class="display-4">OgrenciDers sayfası</h1>
    </div>
    <p>@Html.ActionLink("OgrenciDerslistele", "listele")</p>
    <p>@Html.ActionLink("OgrenciDersYeni", "Yeni")</p>
    <body style="background-color: #800000;">
            <img src="~/image/prü.jpg" alt="deneme logosu" width="100%" />

    </body>
}
