@{
    <div class="text-center">
        <h1 style="background-color:#800000;" class="display-4">Ders sayfası</h1>
    </div>
    <p>@Html.ActionLink("Derslistele", "listele")</p>
    <p>@Html.ActionLink("DersYeni", "Yeni")</p>
    <body style="background-color: #800000;">
         <img src="~/image/ders.png" alt="deneme logosu" width="100%"/>

    </body>

}